<div class="main-container container-fluid">
  <div class="row row-container">
    <div class="control-center col-xs-12 col-sm-4 col-md-3">

      <ul class="nav nav-tabs">
        <li  class="active"><a data-toggle="tab" href="#allStations">Stations</a></li>
        <li><a data-toggle="tab" href="#stationView">Station</a></li>
        <li><a data-toggle="tab" href="#tripPlanning">Plan trip</a></li>
        <li><a data-toggle="tab" href="#advancedPlanning">Advanced</a></li>
      </ul>

      <div class="tab-content container">
        <%= render "stations_form" %>
        <%= render "station_form" %>
        <%= render "plan_trip_form" %>
        <%= render "advanced_form" %>
      </div> <!-- end tab-content -->
    </div> <!-- end control-center -->

    <div class="map-container col-xs-12 col-sm-8 col-md-9" id="map">

    </div> <!-- end map-container -->
  </div> <!-- end row-container -->
</div> <!-- end main-container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&v=3&callback=initMap">

</script>

<script>
  $('body').css('background-color', '#E6E4E4');

  $(".view-station").click(function(){
    var id = $('#selected_station').val();
    $.get('/map/' + id);
  })

  var map;
  var markers = [];
  function initMap(){
    var largeInfowindow = new google.maps.InfoWindow();
    var bounds = new google.maps.LatLngBounds();
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 41.8725614, lng: -87.6245382},
      zoom: 13,
      mapTypeControl: false,
      scrollwheel: false //prevent mouse scroll zoom when over map.
    });

    <% @stations.each do |station| %>
      var s = <%= station.to_json.html_safe %>
      var position = {lat: s.latitude, lng: s.longitude}
      var title = s.station_name;
      var marker = new google.maps.Marker({
        map: map,
        position: position,
        title: title,
        animation: google.maps.Animation.DROP,
        id:s.id
      });
      markers.push(marker);
      marker.addListener('click', function(){
        populateInfoWindow(this, largeInfowindow);
      });
      bounds.extend(marker.position);
    <% end %>
    map.fitBounds(bounds);
  }//end initMap

  function populateInfoWindow(marker, infowindow){
    if(infowindow.marker != marker){
      infowindow.marker = marker;
      infowindow.setContent('<div>' + marker.title + '<div>');
      infowindow.open(map, marker);
      infowindow.addListener('closeclick', function(){
        infowindow.marker = null ;
      });
    }
  }

</script>
