<div class="main-container container-fluid">
  <div class="row row-container">
    <div class="control-center col-xs-12 col-sm-4 col-md-3">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#stationView">Station</a></li>
        <li><a data-toggle="tab" href="#allStations">Stations</a></li>
        <li><a data-toggle="tab" href="#tripPlanning">Plan trip</a></li>
        <li><a data-toggle="tab" href="#advancedPlanning">Advanced</a></li>
      </ul>

      <div class="tab-content container">
        <div id="stationView" class="tab-pane fade in active">
          <h3>Station</h3>
          <ul>
            <li>Search box to select which station you want to view here.</li>
            <li>View particular station here. Might have interaction with stations here.</li>
            <li>Some other things as they come to mind. </li>
          </ul>

          <%= form_tag do  %>
            <!-- TODO: replace the select with a search box so user can type name of stations and filter list.  -->
            <%#= label_tag(:station, "Station: ") %>
            <%#= text_field_tag(:station) %>
            <div class="form-group">
              <%= label_tag(:selected_station, "Station: ") %>
              <%=  select_tag(:selected_station, options_from_collection_for_select(@stations, :id, :station_name), class: "form-control")%>
            </div>
            <%= button_tag("View", type: "button", class: "view_station btn btn-default" ) %>
          <% end %>
        </div>

        <div id="allStations" class="tab-pane fade">
          <h3>Space for all stations here. </h3>
          <ul>
            <li>Not yet sure what this will look like yet. Not sure what anything will look like. </li>
            <li>CSS sucks.</li>
          </ul>
        </div>

        <div id="tripPlanning" class="tab-pane fade">
          <h3>Trip Details </h3>
          <ul>
            <li>Form containing start and stop divvy stations.(in the future, should be any location not just divvy.)</li>
            <li>User will probably be able to see 5(or more) nearest stations around start and stop. </li>
            <li>At some point, be able to get user's current location and use for mapping.</li>
            <li>Possibly other things later.</li>
          </ul>
        </div>

        <div id="advancedPlanning" class="tab-pane fade">
          <h3>Advanced planning </h3>
          <ul>
            <li>This will enable users manually map out stations.</li>
            <li>can select multiple stations to see them appear on map.</li>
            <li>can select start and end point and also select points in between.</li>
          </ul>
        </div>

      </div> <!-- end tab-content -->
    </div> <!-- end control-center -->

    <div class="map-container col-xs-12 col-sm-8 col-md-9" id="map">

    </div> <!-- end map-container -->
  </div> <!-- end row-container -->
</div> <!-- end main-container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&v=3&callback=initMap">

</script>

<script>
  $('body').css('background-color', '#E6E4E4');

  $('.view_station').on('click', function(e){
    //make necessary ajax get request. set up js.erb file if necessary.
    //also ensure that map controller is set up to receive this request.
    //decide if it is even necessary to make call. For starting, we might just need to
    //make use of the info we have in the @stations variable since it is available to us
    //at this point.
  });

  var map;
  function initMap(){
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7413549, lng: -73.9980244},
      zoom: 13
    });
  }
</script>
