<div class="main-container container-fluid">
  <div class="row row-container">
    <div class="control-center col-xs-12 col-sm-4 col-md-3">

      <ul class="nav nav-tabs">
        <li  class="active"><a data-toggle="tab" href="#allStations">Stations</a></li>
        <li><a data-toggle="tab" href="#stationView">Station</a></li>
        <li><a data-toggle="tab" href="#tripPlanning">Plan trip</a></li>
        <li><a data-toggle="tab" href="#advancedPlanning">Advanced</a></li>
      </ul>

      <div class="tab-content container">
        <%= render "stations_form" %>
        <%= render "station_form" %>
        <%= render "plan_trip_form" %>
        <%= render "advanced_form" %>
      </div> <!-- end tab-content -->
    </div> <!-- end control-center -->

    <div class="map-container col-xs-12 col-sm-8 col-md-9" id="map">

    </div> <!-- end map-container -->
  </div> <!-- end row-container -->
</div> <!-- end main-container -->


<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&v=3&callback=initMap">

</script>

<script>
  $('body').css('background-color', '#E6E4E4');

  $('.view_station').on('click', function(e){
    //make necessary ajax get request. set up js.erb file if necessary.
    //also ensure that map controller is set up to receive this request.
    //decide if it is even necessary to make call. For starting, we might just need to
    //make use of the info we have in the @stations variable since it is available to us
    //at this point.
  });


</script>
